modules = ["nodejs-20"]
run = "npm start"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm start"]

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 47144802
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && npm start"
